<!doctype html>
<html class="no-js" lang="zxx">

{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Uren - Car Accessories Shop HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/font-awesome.css' %}">
    <!-- Fontawesome Star -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/fontawesome-stars.css' %}">
    <!-- Ion Icon -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/ion-fonts.css' %}">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/slick.css' %}">
    <!-- Animation -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.css' %}">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery-ui.min.css' %]">
    <!-- Lightgallery -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/lightgallery.min.css'%}">
    <!-- Nice Select -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css' %}">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->
    <!--
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
    <!--<link rel="stylesheet" href="assets/css/style.min.css">-->

</head>

<body class="template-color-1">

    <div class="main-wrapper">

        <!-- Begin Uren's Header Main Area -->
        <header class="header-main_area bg--sapphire">
            <div class="header-top_area d-lg-block d-none">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-7 col-lg-8">
                            <div class="main-menu_area position-relative">
                                <nav class="main-nav">
                                    <ul>
                                        <li class=""><a href="">Home</a>

                                        </li>
<!--                                        <li class="megamenu-holder "><a href="shop-left-sidebar.html">Shop <i class="ion-ios-arrow-down"></i></a>-->
<!--                                            <ul class="hm-megamenu">-->
<!--                                                <li><span class="megamenu-title">Shop Page Layout</span>-->
<!--                                                    <ul>-->
<!--                                                        <li><a href="shop-grid-fullwidth.html">Grid Fullwidth</a></li>-->
<!--                                                        <li><a href="shop-left-sidebar.html">Left Sidebar</a></li>-->
<!--                                                        <li><a href="shop-right-sidebar.html">Right Sidebar</a></li>-->
<!--                                                        <li><a href="shop-list-fullwidth.html">List Fullwidth</a></li>-->
<!--                                                        <li><a href="shop-list-left-sidebar.html">List Left Sidebar</a></li>-->
<!--                                                        <li><a href="shop-list-right-sidebar.html">List Right Sidebar</a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </li>-->
<!--                                                <li><span class="megamenu-title">Single Product Style</span>-->
<!--                                                    <ul>-->
<!--                                                        <li><a href="single-product-gallery-left.html">Gallery Left</a></li>-->
<!--                                                        <li><a href="single-product-gallery-right.html">Gallery Right</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-tab-style-left.html">Tab Style Left</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-tab-style-right.html">Tab Style-->
<!--                                                                Right</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-sticky-left.html">Sticky Left</a></li>-->
<!--                                                        <li><a href="single-product-sticky-right.html">Sticky Right</a></li>-->
<!--                                                    </ul>-->
<!--                                                </li>-->
<!--                                                <li><span class="megamenu-title">Single Product Type</span>-->
<!--                                                    <ul>-->
<!--                                                        <li><a href="single-product.html">Single Product</a></li>-->
<!--                                                        <li><a href="single-product-sale.html">Single Product Sale</a></li>-->
<!--                                                        <li><a href="single-product-group.html">Single Product Group</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-variable.html">Single Product Variable</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-affiliate.html">Single Product-->
<!--                                                                Affiliate</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-slider.html">Single Product Slider</a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </li>-->
<!--                                            </ul>-->
<!--                                        </li>-->
<!--                                        <li><a href="javascript:void(0)">Specials</a></li>-->
<!--                                        <li class="active"><a href="javascript:void(0)">Pages <i class="ion-ios-arrow-down"></i></a>-->
<!--                                            <ul class="hm-dropdown">-->
<!--                                                <li><a href="my-account.html">My Account</a></li>-->
<!--                                                <li><a href="login-register.html">Login | Register</a></li>-->
<!--                                                <li><a href="wishlist.html">Wishlist</a></li>-->
<!--                                                <li><a href="cart.html">Cart</a></li>-->
<!--                                                <li><a href="checkout.html">Checkout</a></li>-->
<!--                                                <li><a href="compare.html">Compare</a></li>-->
<!--                                                <li><a href="faq.html">FAQ</a></li>-->
<!--                                                <li><a href="404.html">404 Error</a></li>-->
<!--                                            </ul>-->
<!--                                        </li>-->

                                        <li class=""><a href="products">Products</a> </li>
                                        <li class=""><a href="cart_view">Cart</a> </li>
                                        <li class=""><a href="wish">wishlists</a> </li>
                                        <li class=""><a href="contact">Contact</a></li>
                                        <li class=""><a href="myorder">My Orders</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4">
                            <div class="ht-right_area">
                                <div class="ht-menu">
                                    <ul>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Uren's Header Main Area End Here -->

        <!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Address</h2>
                    <ul>
                        <li><a href="cart_view">cart</a></li>
                        <li class="active">Add Address</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->
        <!-- Begin Uren's Login Register Area -->
        <div class="uren-login-register_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="login-form">
                                <h4 class="login-title">Add Address</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Name</label>
                                        <input type="text" name="x1" value="{{user.name}}">
                                    </div>
                                    <div class="col-md-12">
                                        <label>Email Address</label>
                                        <input type="email" name="x2" value="{{user.email}}">
                                    </div>
                                    <div class="col-md-12">
                                        <label>Phone Number</label>
                                        <input type="number" name="x3" value="{{user.phone}}">
                                    </div>
                                    <div class="col-md-12">
                                        <label>Pincode</label>
                                        <input type="number" name="x4">
                                    </div>
                                    <div class="col-md-6">
                                        <label>State</label>
                                        <input type="text" name="x5">
                                    </div>
                                    <div class="col-md-6">
                                        <label>City</label>
                                        <input type="text" name="x6">
                                    </div>
                                    <div class="col-12">
                                        <label>Building Name</label>
                                        <input type="text" name="x7">
                                    </div>
                                    <div class="col-12">
                                        <label>Road Name</label>
                                        <input type="text"name="x8">
                                    <div class="col-12">
                                        <button class="uren-register_btn" type="submit">Add Address</button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- JS
============================================ -->

    <!-- jQuery JS -->
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- Modernizer JS -->
    <script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>

    <!-- Slick Slider JS -->
    <script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
    <!-- Barrating JS -->
    <script src="{% static 'assets/js/plugins/jquery.barrating.min.js' %}"></script>
    <!-- Counterup JS -->
    <script src="{% static 'assets/js/plugins/jquery.counterup.js' %}"></script>
    <!-- Nice Select JS -->
    <script src="{% static 'assets/js/plugins/jquery.nice-select.js' %}"></script>
    <!-- Sticky Sidebar JS -->
    <script src="{% static 'assets/js/plugins/jquery.sticky-sidebar.js' %}"></script>
    <!-- Jquery-ui JS -->
    <script src="{% static 'assets/js/plugins/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.ui.touch-punch.min.js' %}"></script>
    <!-- Lightgallery JS -->
    <script src="{% static 'assets/js/plugins/lightgallery.min.js' %}"></script>
    <!-- Scroll Top JS -->
    <script src="{% static 'assets/js/plugins/scroll-top.js' %}"></script>
    <!-- Theia Sticky Sidebar JS -->
    <script src="{% static 'assets/js/plugins/theia-sticky-sidebar.min.js' %}"></script>
    <!-- Waypoints JS -->
    <script src="{% static 'assets/js/plugins/waypoints.min.js' %}"></script>
    <!-- jQuery Zoom JS -->
    <script src="{% static 'assets/js/plugins/jquery.zoom.min.js' %}"></script>

    <!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
    <!--
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>
-->

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>


</body>


</html>