<!doctype html>
<html class="no-js" lang="zxx">

{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Uren - Car Accessories Shop HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/font-awesome.css' %}">
    <!-- Fontawesome Star -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/fontawesome-stars.css' %}">
    <!-- Ion Icon -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor/ion-fonts.css' %}">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/slick.css' %}">
    <!-- Animation -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/animate.css' %}">
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery-ui.min.css' %]">
    <!-- Lightgallery -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/lightgallery.min.css'%}">
    <!-- Nice Select -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css' %}">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from the above) -->
    <!--
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main Style CSS (Please use minify version for better website load performance) -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
    <!--<link rel="stylesheet" href="assets/css/style.min.css">-->

</head>

<body class="template-color-1">

    <div class="main-wrapper">

        <!-- Begin Uren's Header Main Area -->
        <header class="header-main_area bg--sapphire">
            <div class="header-top_area d-lg-block d-none">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-7 col-lg-8">
                            <div class="main-menu_area position-relative">
                                <nav class="main-nav">
                                    <ul>

<!--                                        <li class="megamenu-holder "><a href="shop-left-sidebar.html">Shop <i class="ion-ios-arrow-down"></i></a>-->
<!--                                            <ul class="hm-megamenu">-->
<!--                                                <li><span class="megamenu-title">Shop Page Layout</span>-->
<!--                                                    <ul>-->
<!--                                                        <li><a href="shop-grid-fullwidth.html">Grid Fullwidth</a></li>-->
<!--                                                        <li><a href="shop-left-sidebar.html">Left Sidebar</a></li>-->
<!--                                                        <li><a href="shop-right-sidebar.html">Right Sidebar</a></li>-->
<!--                                                        <li><a href="shop-list-fullwidth.html">List Fullwidth</a></li>-->
<!--                                                        <li><a href="shop-list-left-sidebar.html">List Left Sidebar</a></li>-->
<!--                                                        <li><a href="shop-list-right-sidebar.html">List Right Sidebar</a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </li>-->
<!--                                                <li><span class="megamenu-title">Single Product Style</span>-->
<!--                                                    <ul>-->
<!--                                                        <li><a href="single-product-gallery-left.html">Gallery Left</a></li>-->
<!--                                                        <li><a href="single-product-gallery-right.html">Gallery Right</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-tab-style-left.html">Tab Style Left</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-tab-style-right.html">Tab Style-->
<!--                                                                Right</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-sticky-left.html">Sticky Left</a></li>-->
<!--                                                        <li><a href="single-product-sticky-right.html">Sticky Right</a></li>-->
<!--                                                    </ul>-->
<!--                                                </li>-->
<!--                                                <li><span class="megamenu-title">Single Product Type</span>-->
<!--                                                    <ul>-->
<!--                                                        <li><a href="single-product.html">Single Product</a></li>-->
<!--                                                        <li><a href="single-product-sale.html">Single Product Sale</a></li>-->
<!--                                                        <li><a href="single-product-group.html">Single Product Group</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-variable.html">Single Product Variable</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-affiliate.html">Single Product-->
<!--                                                                Affiliate</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-slider.html">Single Product Slider</a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </li>-->
<!--                                            </ul>-->
<!--                                        </li>-->
<!--                                        <li><a href="javascript:void(0)">Specials</a></li>-->
<!--                                        <li class="active"><a href="javascript:void(0)">Pages <i class="ion-ios-arrow-down"></i></a>-->
<!--                                            <ul class="hm-dropdown">-->
<!--                                                <li><a href="my-account.html">My Account</a></li>-->
<!--                                                <li><a href="login-register.html">Login | Register</a></li>-->
<!--                                                <li><a href="wishlist.html">Wishlist</a></li>-->
<!--                                                <li><a href="cart.html">Cart</a></li>-->
<!--                                                <li><a href="checkout.html">Checkout</a></li>-->
<!--                                                <li><a href="compare.html">Compare</a></li>-->
<!--                                                <li><a href="faq.html">FAQ</a></li>-->
<!--                                                <li><a href="404.html">404 Error</a></li>-->
<!--                                            </ul>-->
<!--                                        </li>-->


<!--                                            <ul class="hm-dropdown">-->
<!--                                                <li><a href="blog-left-sidebar.html">Grid View</a>-->
<!--                                                    <ul class="hm-dropdown hm-sub_dropdown">-->
<!--                                                        <li><a href="blog-2-column.html">Column Two</a></li>-->
<!--                                                        <li><a href="blog-3-column.html">Column Three</a></li>-->
<!--                                                        <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>-->
<!--                                                        <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>-->
<!--                                                    </ul>-->
<!--                                                </li>-->
<!--                                                <li><a href="blog-list-left-sidebar.html">List View</a>-->
<!--                                                    <ul class="hm-dropdown hm-sub_dropdown">-->
<!--                                                        <li><a href="blog-list-fullwidth.html">List Fullwidth</a></li>-->
<!--                                                        <li><a href="blog-list-left-sidebar.html">List Left Sidebar</a></li>-->
<!--                                                        <li><a href="blog-list-right-sidebar.html">List Right Sidebar</a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </li>-->
<!--                                                <li><a href="blog-details-left-sidebar.html">Blog Details</a>-->
<!--                                                    <ul class="hm-dropdown hm-sub_dropdown">-->
<!--                                                        <li><a href="blog-details-left-sidebar.html">Left Sidebar</a></li>-->
<!--                                                        <li><a href="blog-details-right-sidebar.html">Right Sidebar</a></li>-->
<!--                                                    </ul>-->
<!--                                                </li>-->
<!--                                                <li><a href="blog-gallery-format.html">Blog Format</a>-->
<!--                                                    <ul class="hm-dropdown hm-sub_dropdown">-->
<!--                                                        <li><a href="blog-gallery-format.html">Gallery Format</a></li>-->
<!--                                                        <li><a href="blog-audio-format.html">Audio Format</a></li>-->
<!--                                                        <li><a href="blog-video-format.html">Video Format</a></li>-->
<!--                                                    </ul>-->
<!--                                                </li>-->
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4">
                            <div class="ht-right_area">
                                <div class="ht-menu">
                                    <ul>
<!--                                        <li><a href="javascript:void(0)">Currency<i class="fa fa-chevron-down"></i></a>-->
<!--                                            <ul class="ht-dropdown ht-currency">-->
<!--                                                <li><a href="javascript:void(0)">€ EUR</a></li>-->
<!--                                                <li class="active"><a href="javascript:void(0)">£ Pound Sterling</a></li>-->
<!--                                                <li><a href="javascript:void(0)">$ Us Dollar</a></li>-->
<!--                                            </ul>-->
<!--                                        </li>-->
<!--                                        <li><a href="javascript:void(0)">Language <i class="fa fa-chevron-down"></i></a>-->
<!--                                            <ul class="ht-dropdown">-->
<!--                                                <li class="active"><a href="javascript:void(0)"><img src="{% static 'assets/images/menu/icon/1.jpg' %}" alt="JB's Language Icon">English</a></li>-->
<!--                                                <li><a href="javascript:void(0)"><img src="{% static 'assets/images/menu/icon/2.jpg' %}" alt="JB's Language Icon">Français</a>-->
<!--                                                </li>-->
<!--                                            </ul>-->
<!--                                        </li>-->

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-top_area header-sticky bg--sapphire">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-8 col-lg-7 d-lg-block d-none">
                            <div class="main-menu_area position-relative">
                                <nav class="main-nav">
                                    <ul>
<!--                                        <li class="dropdown-holder "><a href="index.html">Home</a>-->
<!--                                            <ul class="hm-dropdown">-->
<!--                                                <li><a href="index.html">Home One</a></li>-->
<!--                                                <li><a href="index-2.html">Home Two</a></li>-->
<!--                                                <li><a href="index-3.html">Home Three</a></li>-->
<!--                                            </ul>-->
<!--                                        </li>-->
<!--                                        <li class="megamenu-holder "><a href="shop-left-sidebar.html">Shop <i-->
<!--                                                class="ion-ios-arrow-down"></i></a>-->
<!--                                            <ul class="hm-megamenu">-->
<!--                                                <li><span class="megamenu-title">Shop Page Layout</span>-->
<!--                                                    <ul>-->
<!--                                                        <li><a href="shop-grid-fullwidth.html">Grid Fullwidth</a></li>-->
<!--                                                        <li><a href="shop-left-sidebar.html">Left Sidebar</a></li>-->
<!--                                                        <li><a href="shop-right-sidebar.html">Right Sidebar</a></li>-->
<!--                                                        <li><a href="shop-list-fullwidth.html">List Fullwidth</a></li>-->
<!--                                                        <li><a href="shop-list-left-sidebar.html">List Left Sidebar</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="shop-list-right-sidebar.html">List Right-->
<!--                                                                Sidebar</a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </li>-->
<!--                                                <li><span class="megamenu-title">Single Product Style</span>-->
<!--                                                    <ul>-->
<!--                                                        <li><a href="single-product-gallery-left.html">Gallery Left</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-gallery-right.html">Gallery-->
<!--                                                                Right</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-tab-style-left.html">Tab Style-->
<!--                                                                Left</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-tab-style-right.html">Tab Style-->
<!--                                                                Right</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-sticky-left.html">Sticky Left</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-sticky-right.html">Sticky Right</a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </li>-->
<!--                                                <li><span class="megamenu-title">Single Product Type</span>-->
<!--                                                    <ul>-->
<!--                                                        <li><a href="single-product.html">Single Product</a></li>-->
<!--                                                        <li><a href="single-product-sale.html">Single Product Sale</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-group.html">Single Product Group</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-variable.html">Single Product-->
<!--                                                                Variable</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-affiliate.html">Single Product-->
<!--                                                                Affiliate</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="single-product-slider.html">Single Product-->
<!--                                                                Slider</a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </li>-->
<!--                                            </ul>-->
<!--                                        </li>-->
<!--                                        <li><a href="javascript:void(0)">Specials</a></li>-->
<!--                                        <li class="active"><a href="javascript:void(0)">Pages <i-->
<!--                                                class="ion-ios-arrow-down"></i></a>-->
<!--                                            <ul class="hm-dropdown">-->
<!--                                                <li><a href="my-account.html">My Account</a></li>-->
<!--                                                <li><a href="login-register.html">Login | Register</a></li>-->
<!--                                                <li><a href="wishlist.html">Wishlist</a></li>-->
<!--                                                <li><a href="cart.html">Cart</a></li>-->
<!--                                                <li><a href="checkout.html">Checkout</a></li>-->
<!--                                                <li><a href="compare.html">Compare</a></li>-->
<!--                                                <li><a href="faq.html">FAQ</a></li>-->
<!--                                                <li><a href="404.html">404 Error</a></li>-->
<!--                                            </ul>-->
<!--                                        </li>-->
<!--                                        <li class=""><a href="about-us.html">About Us</a></li>-->
<!--                                        <li class=""><a href="contact.html">Contact</a></li>-->
<!--                                        <li class=""><a href="blog-left-sidebar.html">Blog</a> </li>-->

<!--                                            <ul class="hm-dropdown">-->
<!--                                                <li><a href="blog-left-sidebar.html">Grid View</a>-->
<!--                                                    <ul class="hm-dropdown hm-sub_dropdown">-->
<!--                                                        <li><a href="blog-2-column.html">Column Two</a></li>-->
<!--                                                        <li><a href="blog-3-column.html">Column Three</a></li>-->
<!--                                                        <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>-->
<!--                                                        <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>-->
<!--                                                    </ul>-->
<!--                                                </li>-->
<!--                                                <li><a href="blog-list-left-sidebar.html">List View</a>-->
<!--                                                    <ul class="hm-dropdown hm-sub_dropdown">-->
<!--                                                        <li><a href="blog-list-fullwidth.html">List Fullwidth</a></li>-->
<!--                                                        <li><a href="blog-list-left-sidebar.html">List Left Sidebar</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="blog-list-right-sidebar.html">List Right-->
<!--                                                                Sidebar</a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </li>-->
<!--                                                <li><a href="blog-details-left-sidebar.html">Blog Details</a>-->
<!--                                                    <ul class="hm-dropdown hm-sub_dropdown">-->
<!--                                                        <li><a href="blog-details-left-sidebar.html">Left Sidebar</a>-->
<!--                                                        </li>-->
<!--                                                        <li><a href="blog-details-right-sidebar.html">Right Sidebar</a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </li>-->
<!--                                                <li><a href="blog-gallery-format.html">Blog Format</a>-->
<!--                                                    <ul class="hm-dropdown hm-sub_dropdown">-->
<!--                                                        <li><a href="blog-gallery-format.html">Gallery Format</a></li>-->
<!--                                                        <li><a href="blog-audio-format.html">Audio Format</a></li>-->
<!--                                                        <li><a href="blog-video-format.html">Video Format</a></li>-->
<!--                                                    </ul>-->
<!--                                                </li>-->
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-sm-3 d-block d-lg-none">
                            <div class="header-logo_area header-sticky_logo">
                                <a href="index.html">
                                    <img src="{% static 'assets/images/menu/logo/1.png' %}" alt="Uren's Logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 col-sm-9">
                            <div class="header-right_area">
                                <ul>
                                    <li class="mobile-menu_wrap d-flex d-lg-none">
                                        <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white">
                                            <i class="ion-navicon"></i>
                                        </a>
                                    </li>
<!--                                    <li class="minicart-wrap">-->
<!--                                        <a href="#miniCart" class="minicart-btn toolbar-btn">-->
<!--                                            <div class="minicart-count_area">-->
<!--                                                <span class="item-count">3</span>-->
<!--                                                <i class="ion-bag"></i>-->
<!--                                            </div>-->
<!--                                            <div class="minicart-front_text">-->
<!--                                                <span>Cart:</span>-->
<!--                                                <span class="total-price">462.4</span>-->
<!--                                            </div>-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li class="contact-us_wrap">-->
<!--                                        <a href="tel://+123123321345"><i class="ion-android-call"></i>+123 321 345</a>-->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="custom-logo_col col-12">
                            <div class="header-logo_area">
                                <a href="index.html">
                                    <img src="{% static 'assets/images/menu/logo/1.png' %}" alt="Uren's Logo">
                                </a>
                            </div>
                        </div>



            <div class="mobile-menu_wrapper" id="mobileMenu">
                <div class="offcanvas-menu-inner">
                    <div class="container">
                        <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                        <div class="offcanvas-inner_search">
                            <form action="#" class="inner-searchbox">
                                <input type="text" placeholder="Search for item...">
                                <button class="search_btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                            </form>
                        </div>
                        <nav class="offcanvas-navigation">
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children active"><a href="index.html"><span
                                        class="mm-text">Home</span></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="index.html">
                                                <span class="mm-text">Home One</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index-2.html">
                                                <span class="mm-text">Home Two</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index-3.html">
                                                <span class="mm-text">Home Three</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="shop-left-sidebar.html">
                                        <span class="mm-text">Shop</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="shop-left-sidebar.html">
                                                <span class="mm-text">Grid View</span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="shop-grid-fullwidth.html">
                                                        <span class="mm-text">Column Three</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-4-column.html">
                                                        <span class="mm-text">Column Four</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-left-sidebar.html">
                                                        <span class="mm-text">Left Sidebar</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-right-sidebar.html">
                                                        <span class="mm-text">Right Sidebar</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="shop-list-left-sidebar.html">
                                                <span class="mm-text">Shop List</span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="shop-list-fullwidth.html">
                                                        <span class="mm-text">Full Width</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-list-left-sidebar.html">
                                                        <span class="mm-text">Left Sidebar</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-list-right-sidebar.html">
                                                        <span class="mm-text">Right Sidebar</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="single-product-gallery-left.html">
                                                <span class="mm-text">Single Product Style</span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="single-product-gallery-left.html">
                                                        <span class="mm-text">Gallery Left</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-gallery-right.html">
                                                        <span class="mm-text">Gallery Right</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-tab-style-left.html">
                                                        <span class="mm-text">Tab Style Left</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-tab-style-right.html">
                                                        <span class="mm-text">Tab Style Right</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-sticky-left.html">
                                                        <span class="mm-text">Sticky Left</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-sticky-right.html">
                                                        <span class="mm-text">Sticky Right</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="single-product.html">
                                                <span class="mm-text">Single Product Type</span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="single-product.html">
                                                        <span class="mm-text">Single Product</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-sale.html">
                                                        <span class="mm-text">Single Product Sale</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-group.html">
                                                        <span class="mm-text">Single Product Group</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-variable.html">
                                                        <span class="mm-text">Single Product Variable</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-affiliate.html">
                                                        <span class="mm-text">Single Product Affiliate</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="single-product-slider.html">
                                                        <span class="mm-text">Single Product Slider</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="blog-left-sidebar.html">
                                        <span class="mm-text">Blog</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children has-children">
                                            <a href="blog-left-sidebar.html">
                                                <span class="mm-text">Grid View</span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="blog-2-column.html">
                                                        <span class="mm-text">Column Two</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-3-column.html">
                                                        <span class="mm-text">Column Three</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-left-sidebar.html">
                                                        <span class="mm-text">Left Sidebar</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-right-sidebar.html">
                                                        <span class="mm-text">Right Sidebar</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children has-children">
                                            <a href="blog-list-left-sidebar.html">
                                                <span class="mm-text">List View</span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="blog-list-fullwidth.html">
                                                        <span class="mm-text">List Fullwidth</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-list-left-sidebar.html">
                                                        <span class="mm-text">List Left Sidebar</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-list-right-sidebar.html">
                                                        <span class="mm-text">List Right Sidebar</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children has-children">
                                            <a href="blog-details-left-sidebar.html">
                                                <span class="mm-text">Blog Details</span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="blog-details-left-sidebar.html">
                                                        <span class="mm-text">Left Sidebar</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-details-right-sidebar.html">
                                                        <span class="mm-text">Right Sidebar</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children has-children">
                                            <a href="blog-gallery-format.html">
                                                <span class="mm-text">Blog Format</span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="blog-gallery-format.html">
                                                        <span class="mm-text">Gallery Format</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-audio-format.html">
                                                        <span class="mm-text">Audio Format</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-video-format.html">
                                                        <span class="mm-text">Video Format</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="index.html">
                                        <span class="mm-text">Pages</span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="my-account.html">
                                                <span class="mm-text">My Account</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="login-register.html">
                                                <span class="mm-text">Login | Register</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="wishlist.html">
                                                <span class="mm-text">Wishlist</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="cart.html">
                                                <span class="mm-text">Cart</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="checkout.html">
                                                <span class="mm-text">Checkout</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="compare.html">
                                                <span class="mm-text">Compare</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="faq.html">
                                                <span class="mm-text">FAQ</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="404.html">
                                                <span class="mm-text">Error 404</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <nav class="offcanvas-navigation user-setting_area">
                            <ul class="mobile-menu">
                                <li class="menu-item-has-children active"><a href="javascript:void(0)"><span
                                        class="mm-text">User
                                        Setting</span></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="my-account.html">
                                                <span class="mm-text">My Account</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="login-register.html">
                                                <span class="mm-text">Login </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0)"><span
                                        class="mm-text">Currency</span></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="mm-text">EUR €</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="mm-text">USD $</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0)"><span
                                        class="mm-text">Language</span></a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="mm-text">English</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="mm-text">Français</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="mm-text">Romanian</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <span class="mm-text">Japanese</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Uren's Header Main Area End Here -->

        <!-- Begin Uren's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>PAYMENT</h2>
                    <ul>
                        <li><a href="order_sum">Order Summary</a></li>
                        <li class="active">Payment</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Uren's Breadcrumb Area End Here -->
        <!-- Begin Uren's Login Register Area -->

        <div class="container-fluid" align="center">
                <div class="row">
                    <div class="col-sm-120 col-md-120 col-lg-12 col-xs-12">
                            <div class="login">
                                <h4 class="login-title"></h4><br>

                                <form action="../success" method="POST">
                                    {% csrf_token %}
                                    <h3 style="text-decoration: underline;">PAYMENT</h3>
                                    <h6>Price:{{id}}<br><br>

                                        Delivery Charges:FREE<br><br>
                                        Protect Promise: FREE<br><br>
                                        Total Amount :{{id}}<br><br></h6>
                                    <script
                                        src="https://checkout.razorpay.com/v1/checkout.js"
                                        data-key="rzp_test_SROSnyInFv81S4"
                                        data-amount={{amount}}
                                        data-currency="INR"
                                        data-order_id="{{payment.id}}"
                                        data-buttontext="Pay with Razorpay"
                                        data-name="django payment"
                                        data-description="this is test payment"
                                        data-image="https://example.com/your_logo.jpg"
                                        data-prefill.name="Gaurav Kumar"
                                        data-prefill.email="django@test.com"
                                        data-theme.color="#F37254">
                                    </script>
                                <input type="hidden" custom="Hidden Element" name="hidden">
                            </form>
                    </div>
                </div>
            </div>



    <!-- jQuery JS -->
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- Modernizer JS -->
    <script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>

    <!-- Slick Slider JS -->
    <script src="{% static 'assets/js/plugins/slick.min.js' %}"></script>
    <!-- Barrating JS -->
    <script src="{% static 'assets/js/plugins/jquery.barrating.min.js' %}"></script>
    <!-- Counterup JS -->
    <script src="{% static 'assets/js/plugins/jquery.counterup.js' %}"></script>
    <!-- Nice Select JS -->
    <script src="{% static 'assets/js/plugins/jquery.nice-select.js' %}"></script>
    <!-- Sticky Sidebar JS -->
    <script src="{% static 'assets/js/plugins/jquery.sticky-sidebar.js' %}"></script>
    <!-- Jquery-ui JS -->
    <script src="{% static 'assets/js/plugins/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.ui.touch-punch.min.js' %}"></script>
    <!-- Lightgallery JS -->
    <script src="{% static 'assets/js/plugins/lightgallery.min.js' %}"></script>
    <!-- Scroll Top JS -->
    <script src="{% static 'assets/js/plugins/scroll-top.js' %}"></script>
    <!-- Theia Sticky Sidebar JS -->
    <script src="{% static 'assets/js/plugins/theia-sticky-sidebar.min.js' %}"></script>
    <!-- Waypoints JS -->
    <script src="{% static 'assets/js/plugins/waypoints.min.js' %}"></script>
    <!-- jQuery Zoom JS -->
    <script src="{% static 'assets/js/plugins/jquery.zoom.min.js' %}"></script>

    <!-- Vendor & Plugins JS (Please remove the comment from below vendor.min.js & plugins.min.js for better website load performance and remove js files from avobe) -->
    <!--
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script>
-->

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>


</body>

</html>


