<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}
    <meta charset="utf-8">
    <title>CakeZone - Cake Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css ' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css ' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css ' %}" rel="stylesheet">


 <style>
<!--    /* Add your custom styles here */-->
<!--        body {-->
<!--            background-color:white;-->
<!--            background-image:-->
<!--        }-->

<!--        .login-container {-->
<!--            max-width: 400px;-->
<!--            margin: 100px auto;-->
<!--            padding: 20px;-->
<!--            background-color:white;-->
<!--            border-radius: 10px;-->
<!--            box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);-->
<!--        }-->

<!--        .login-container h1 {-->
<!--            text-align: center;-->
<!--            margin-bottom: 30px;-->
<!--            color: #333;-->
<!--        }-->

<!--        .login-container input[type="text"],-->
<!--        .login-container input[type="password"] {-->
<!--            width: 100%;-->
<!--            padding: 10px;-->
<!--            margin-bottom: 20px;-->
<!--            border-radius: 5px;-->
<!--            border: 1px solid orange;-->
<!--        }-->

<!--        .login-container button {-->
<!--            width: 100%;-->
<!--            padding: 12px;-->
<!--            border: none;-->
<!--            border-radius: 5px;-->
<!--            background-color:orange;-->
<!--            color: white;-->
<!--            font-size: 16px;-->
<!--            font-weight: bold;-->
<!--            cursor: pointer;-->
<!--        }-->

<!--        .login-container button:hover {-->
<!--            background-color:orange;-->
<!--        }-->

<!--        .login-container a {-->
<!--            color:orange;-->
<!--        }-->

<!--        .login-container a:hover {-->
<!--            color: orange;-->
<!--        }-->

<!--        /* Additional styles for the sign-up section */-->
<!--        .signup-link {-->
<!--            text-align: center;-->
<!--            margin-top: 20px;-->
<!--        }-->

<!--        .signup-link a {-->
<!--            color: orange;-->
<!--        }-->

<!--        .signup-link a:hover {-->
<!--            color:orange;-->
<!--        }-->
        </style>
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid px-0 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-4 text-center bg-secondary py-3">
                <div class="d-inline-flex align-items-center justify-content-center">
                    <i class="bi bi-envelope fs-1 text-primary me-3"></i>
                    <div class="text-start">
                        <h6 class="text-uppercase mb-1">Email Us</h6>
                        <span>athiraps018@gmail.com</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center bg-primary border-inner py-3">
                <div class="d-inline-flex align-items-center justify-content-center">
                    <a href="index.html" class="navbar-brand">
                        <h1 class="m-0 text-uppercase text-white"><i class="fa fa-birthday-cake fs-1 text-dark me-3"></i>CakeZone</h1>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 text-center bg-secondary py-3">
                <div class="d-inline-flex align-items-center justify-content-center">
                    <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                    <div class="text-start">
                        <h6 class="text-uppercase mb-1">Call Us</h6>
                        <span>8086158878</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-0">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 text-uppercase text-white"><i class="fa fa-birthday-cake fs-1 text-primary me-3"></i>CakeZone</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto mx-lg-auto py-0">
                <a href="adminhome" class="nav-item nav-link">HOME</a>
                <a href="addproduct" class="nav-item nav-link">ADD  CAKE</a>
                <a href="manageproduct" class="nav-item nav-link">MANAGE CAKE</a>
<!--                <a href="display" class="nav-item nav-link">MANAGE CAKE</a>-->
                <a href="viewuser" class="nav-item nav-link">VIEWUSER</a>
                <a href="employee_details" class="nav-item nav-link">Emplyoyee Details</a>
                <a href="bookingdetails" class="nav-item nav-link">Booking Details</a>
                <a href="admin_logout" class="nav-item nav-link active">LogOut</a>
<!--                <a href="admin_order_details" class="nav-item nav-link">Display Cake</a>-->
<!--                <div class="nav-item dropdown">-->
<!--                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>-->
<!--                    <div class="dropdown-menu m-0">-->
<!--                        <a href="service" class="dropdown-item">Our Service</a>-->
<!--                        <a href="testimonial" class="dropdown-item">Testimonial</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <a href="contact" class="nav-item nav-link active">Contact Us</a>-->
<!--                <a href="logout" class="nav-item nav-link active">LogOut</a>-->
            </div>
        </div>
    </nav>






<!--    <div class="row">-->
<!--                <div class="col-lg-7 mb-5 my-lg-5 py-5 pl-lg-5">-->
<!--                    <div class="contact-form">-->
<!--                        <div id="success"></div>-->
<!--                        <form method="POST" action="" enctype="multipart/form-data">-->
<!--                            {% csrf_token %}-->
<!--                             <div>-->
<!--                                <input type="text" placeholder="ProductName" name="n1"/>-->
<!--                            </div><br>-->
<!--                            <div>-->
<!--                                <input type="number" placeholder="Price:" name="n2"/>-->
<!--                            </div><br>-->

<!--                             <div>-->
<!--                                <input type="number" placeholder="Quantity" name="n3"/>-->
<!--                            </div><br>-->

<!--                             <div>-->
<!--                                <input type="text" placeholder="Model" name="n4"/>-->
<!--                            </div><br>-->
<!--                             <div>-->
<!--                                <input type="text" placeholder="Category" name="n5"/>-->
<!--                            </div><br>-->
<!--                             <div>-->
<!--                                <input type="file" name="n6"/>-->
<!--                            </div><br>-->
<!--                            <div>-->
<!--                                <button class="btn btn-primary py-3 px-5" type="submit" >ADD PRODUCT</button>-->
<!--                            </div>-->

<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->





    <div class="row justify-content-center">
                <div class="col-lg-6">
                    <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-sm-10">
                                <input type="text" class="mt-5 form-control bg-light border-2 px-4" placeholder="ProductName" name="n1" style="height: 55px;">
                            </div>
                            <div class="col-sm-10">
                                <input type="number" class="form-control bg-light border-2 px-4" placeholder="price" name="n2" style="height: 55px;">
                            </div>
                            <div class="col-sm-10">
                                <input type="number" class="form-control bg-light border-2 px-4" placeholder="Quantity" name="n3" style="height: 55px;">
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control bg-light border-2 px-4" placeholder="Model" name="n4" style="height: 55px;">
                            </div>
                             <div class="col-sm-10">
                                <input type="text" class="form-control bg-light border-2 px-4" placeholder="Category" name="n5" style="height: 55px;">
                            </div>
                             <div class="col-sm-10">
                                <input type="file" class="form-control bg-light border-2 px-4"  name="n6" style="height: 55px;">
                            </div>
                            <div class="col-sm-10">
                                <button class="btn btn-primary border-inner w-100 py-3" type="submit">ADD PRODUCT</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </div>




<!--<div class="container">-->
<!--        <div class="login-container">-->
<!--            <h1>Login</h1>-->
<!--            <form action="" method="POST">-->
<!--                {% csrf_token %}-->
<!--                <div class="form-group">-->
<!--                    <input type="text" class="form-control" placeholder="email" name="email" required>-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <input type="password" class="form-control" placeholder="Password" name="password" required>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary btn-block">Login</button>-->
<!--                <div class="text-center mt-3">-->
<!--                    <a href="forgot">Forgot Password?</a>-->
<!--                </div>-->
<!--            </form>-->
<!--            <div class="signup-link">-->
<!--                <p>Don't have an account? <a href="registerr">Sign Up</a></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>