<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}
    <meta charset="utf-8">
    <title>CakeZone - Cake Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Oswald:wght@500;600;700&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css ' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css ' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css ' %}" rel="stylesheet">


 <style>

        </style>
</head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome, {{ user.username }}</title>


<body>
    <!-- Topbar Start -->
    <div class="container-fluid px-0 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-4 text-center bg-secondary py-3">
                <div class="d-inline-flex align-items-center justify-content-center">
                    <i class="bi bi-envelope fs-1 text-primary me-3"></i>
                    <div class="text-start">
                        <h6 class="text-uppercase mb-1">Email Us</h6>
                        <span>athiraps018@gmail.com</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center bg-primary border-inner py-3">
                <div class="d-inline-flex align-items-center justify-content-center">
                    <a href="index.html" class="navbar-brand">
                        <h1 class="m-0 text-uppercase text-white"><i class="fa fa-birthday-cake fs-1 text-dark me-3"></i>CakeZone</h1>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 text-center bg-secondary py-3">
                <div class="d-inline-flex align-items-center justify-content-center">
                    <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                    <div class="text-start">
                        <h6 class="text-uppercase mb-1">Call Us</h6>
                        <span>8086158878</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-0">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 text-uppercase text-white"><i class="fa fa-birthday-cake fs-1 text-primary me-3"></i>CakeZone</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto mx-lg-auto py-0">
                <a href="userhome" class="nav-item nav-link">HOME</a>
                 <div class="nav-item dropdown">
                        <a href="categories" class="nav-link dropdown-toggle" data-toggle="dropdown">CATEGORY</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="birthday" class="dropdown-item">BIRTHDAY CAKES</a>
                            <a href="wedding" class="dropdown-item">WEDDING CAKE</a>
<!--                            <a href="goldfish" class="dropdown-item">COUSTOM</a>-->
<!--                            <a href="fighter" class="dropdown-item">FIGHTER</a>-->
<!--                            <a href="koicarp" class="dropdown-item">KOI CARP</a>-->
                        </div>
                    </div>
<!--                <a href="menu" class="nav-item nav-link">MENU&PRICING</a>-->
                <a href="mycart" class="nav-item nav-link">CART</a>
                <a href="mywhishlist" class="nav-item nav-link">WISHLIST</a>
                <a href="myorders" class="nav-item nav-link">MY ORDER</a>
                <a href="myaddress" class="nav-item nav-link">PROFILE</a>
                <a href="user_logout" class="nav-item nav-link active">LogOut</a>
<!--                <a href="profile" class="nav-item nav-link">PROFILE</a>-->
<!--                <a href="admin_order_details" class="nav-item nav-link">Display Cake</a>-->
<!--                <div class="nav-item dropdown">-->
<!--                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>-->
<!--                    <div class="dropdown-menu m-0">-->
<!--                        <a href="service" class="dropdown-item">Our Service</a>-->
<!--                        <a href="testimonial" class="dropdown-item">Testimonial</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <a href="contact" class="nav-item nav-link active">Contact Us</a>-->
<!--                <a href="logout" class="nav-item nav-link active">LogOut</a>-->
            </div>
        </div>
    </nav>


  {% for i in data %}

<div class="card p-4 m-4" style="float:left;width:21%">
  <img class="card-img-top" src="{{i.image.url}}" alt="Card image" style="width:100%" >
    <div class="card-body">
      <div class="container">

        {% if i in l1 %}
          <a class="fa fa-heart heart-red" href="../mywhishlist"></a>
        {% else %}
        <a class="fa fa-heart" href="../addwhishlist/{{i.pk}}"></a>
        {% endif %}

      </div>
      <h4 class="card-title"><b>{{i.ProductName}}<b></h4>
      <p class="card-title">PRICE: {{i.Price}}</p>
<!--      <p class="card-title">Stock: {{i.quantity}}</p>-->
<!--      <p class="card-title">Color:{{i.color}}</p>-->
      <p class="card-title">MODEL:{{i.Models}}</p>
    <a href="single_checkout/{{i.pk}}" class="btn btn-primary" >Buy now</a>
      {% if i in l %}
    <a href="../mycart" class="btn btn-warning">Go to cart</a>
      {% else %}
      <a href="../addcart/{{i.pk}}" class="btn btn-warning">Add to cart</a>
      {% endif %}
<br>
<!--      <a href="../addtowishlist/{{i.pk}}" class="mt-2 btn btn-warning" >Add To Wishlist</a>-->

    </div>
  </div>
    {% endfor %}

<!--    -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>