{% extends 'Admin/Base.html' %}

    {% block content %}

        <div class="container col-md-6 border mt-4">
            <div class="col-12 text-center">
                <h5><strong>Add Service</strong></h5>
            </div>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            
                <div class="form-group">
                    <label for="service_name">Service Name</label>
                    {{ form.service_name }}
                </div>
            
                <div class="form-group mt-4">
                    <label for="service_image">Service Image</label>
                    {{ form.service_image }}
                </div>
            
                <div class="form-group">
                    <label for="service_amount">Service Amount</label>
                    {{ form.service_amount }}
                </div>
            
                <div class="form-group">
                    <label for="service_discription">Service Details</label>
                    {{ form.service_discription }}
                </div>
            
                <div class="form-group">
                    <label for="status">Status</label>
                    {{ form.status }}
                </div>
            
                <div class="col-12 m-auto text-center">
                    <input type="submit" class="btn btn-primary mt-2" value="Add Service">
                </div>
            </form>
            
        
           
        </div>
        
       
        {% endblock %}