{% extends 'Admin/Base.html' %}

    {% block content %}

    

     
    <!-- orders listing -->
     <div class="container">
        <div class="row col-12">
            <div class="col-4 ">
                <label for="search-input">Search :</label>
            </div>
            
            <div class="col-md-8 d-flex flex-row-reverse">
                
                <input type="text" style="width:50%;" id="search-input" onkeyup="searchTable()" placeholder="Search......" >
            </div>
         </div> 
     </div>
     <div class="container">
        <div class="row col-12">
            
            <div class="col-md-8 d-flex justify-content-center">
               <form action="../StockFilter" method="post">
                {%csrf_token%}
                <input type="number" name="quantity" value="{{s}}" placeholder="Enter filter Quantity" id="">
                <input type="submit" value="Filter">
               </form>
            </div>
         </div> 
     </div>

     <div class="container border border-danger rounded shadow-lg p-3 mb-5 bg-white">
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table id="booking-table" class="table table-hover">
                    <thead class="text-uppercase">
                        <tr style="color: #D81324;">
                            <th scope="col">product Image</th>
                            <th scope="col">product name</th>
                            <th scope="col">product price</th>
                            <th scope="col">quantity</th>
                            <th scope="col">Status</th>
                            
                            <th scope="col">Update</th>
                        </tr>
                    </thead>
                    <tbody class="text-uppercase" style="color: #000000;">
                        {% for i in products %}
                        
                        
                        <tr>
                            <td>
                                <img src="{{ i.product_image.url }}" alt="Current Image" width="100px" height="auto">
                            </td>
                            <td>{{ i.product_name }}</td>
                            <td>₹{{ i.product_price }}</td>
                            <td>{{ i.quantity }}</td>
                            <td>{{ i.status }}</td>
                            
                            <td>
                                <form action="ItemUpdate/{{i.pk}}" method="post">
                                    {%csrf_token%}
                                    <input type="number" value="{{i.quantity}}" name="quantity" id="">
                                    <input type="submit" class="btn btn-success" value="Update">
                                </form>
                                
                            </td>
                        </tr>
                        
                       
                        
                        {% endfor %}
                    </tbody>
                </table>
                
               
    
   
    
    <!-- orders listing end-->
   

         <!-- JavaScript start -->
         {% endblock %}