<!DOCTYPE html>
<html>
<head>
    <title>Pay with Razorpay</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>

<h3>Processing Payment...</h3>

<form id="payment-form" action="/payment_success/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="razorpay_order_id" value="{{ order_id }}">
</form>

<script>
var options = {
    "key": "{{ razorpay_key }}",
    "amount": "{{ amount }}",
    "currency": "INR",
    "name": "EmployIT",
    "description": "Service Payment",
    "order_id": "{{ order_id }}",
    "handler": function (response){
        document.getElementById("payment-form").submit();
    }
};

var rzp = new Razorpay(options);
rzp.open();
</script>

</body>
</html>