{% extends 'user/order_product/Base.html' %}

{% block content %}
    {% load static %}

    <!-- products Start -->
    <div class="container d-flex justify-content-center mt-2">
        <div class="row align-items-center">
            <h2 class="text-dark text-uppercase">Products</h2>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row mt-2 border border-primary rounded-4">
            <div class="col-md-5 border border-primary">
                <img src="{{details.product_image.url}}" width="100%" height="400px" alt="">
            </div>
            <div class="col-md-7">
                <div class="col-12">
                    <p><strong>Product ID :</strong>{{details.id}}</p>
                </div>
                <div class="col-12 text-uppercase text-dark">
                    <h2 class="text-dark"><strong>{{details.product_name}}</strong></h2>
                </div>
                <div class="col-12 text-uppercase text-dark">
                    <h2 class="text-dark"><strong>₹{{details.product_price}}</strong></h2>
                </div>
                <div class="col-12 text-uppercase text-dark">
                    <h2 class="text-dark"><strong><hr></strong></h2>
                </div>
                <div class="col-12 text-uppercase text-dark">
                    <strong class="text-dark">{{details.product_details}}</strong>
                </div>
                <div class="col-12 text-uppercase text-dark">
                    <strong><hr></strong>
                </div>
                {% if details.quantity == 0 %}
                <div class="col-12 text-uppercase text-dark">
                    <strong style="color: red;">Out Of Stock</strong>
                </div>
                {% else %}
                <div class="col-12 text-uppercase text-dark">
                    <strong>Quantity :<a href="../decrement/{{details.pk}}"><img src="{% static './img/delete.png'%}" width="25px" alt=""></a><strong> {{quantity}} </strong><a href="../increment/{{details.pk}}"><img src="{% static './img/add.png'%}" width="25px" alt=""></a></strong>
                </div>
                <div class="col-12 row text-uppercase text-dark mt-2 mb-2">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="../AddCart/{{details.pk}}" class="h-100 btn btn-danger text-uppercase">add to cart</a>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="../BuyNow/{{details.pk}}" class="btn btn-success text-uppercase">buy now</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- products End -->

    <!-- Comment Section Start-->
    <div class="container mt-3">
        <h1 style="text-align: center;">Product Reviews</h1>
        <div id="reviewCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for review in reviews %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="review " style="text-align: center;">
                        <h3>{{ review.User.username }}</h3>
                        <div class="stars">
                            <span class="star blink bg-warning">★</span>{{review.rate}} out of 5
                        </div>
                        <hr>
                        <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">"{{ review.feedback }}"</p>
                        <hr>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev"  type="button" data-bs-target="#reviewCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" style="background-color: black;border-radius: 19px;" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next"  type="button" data-bs-target="#reviewCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" style="background-color: black;border-radius: 19px;" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Comment Section End -->
    
{% endblock %}