<!DOCTYPE html>
<html lang="en">
{%  load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Dewi Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Dewi
  * Template URL: https://bootstrapmade.com/dewi-free-multi-purpose-html-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    <style>
/* Center form over hero */
.hero {
  position: relative;
}

.contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 10;
}

/* Form box */
.form-box {
  background: #ffffff;
  width: 100%;
  max-width: 500px;
}

/* Fix dark input issue */
.custom-input {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #ccc;
}

/* Input focus style */
.custom-input:focus {
  border-color: #0d6efd;
  box-shadow: none;
}

/* Button style */
.btn-primary {
  padding: 10px;
  font-weight: 500;
}

        .star-rating {
  direction: rtl;
  display: inline-flex;
  font-size: 30px;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
  transition: 0.3s;
}

.star-rating input:checked ~ label {
  color: #ffc107;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffc107;
}
    </style>
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="{% static 'assets/img/logo.png' %}" alt=""> -->
        <h1 class="sitename">Code Art</h1>
      </a>

  <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="userhome" class="active">Home</a></li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="ProjectDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Project
          </a>
          <ul class="dropdown-menu" aria-labelledby="ProjectDropdown">
            <li>
          <a class="dropdown-item" href="createproject">Create Project</a>
          </li>
          <li>
          <a class="dropdown-item" href="userviewownprojects">My projects</a>
          </li>
         </ul>
         </li>
           <li><a href="browsefreelancers">Developers</a></li>
          <li><a href="userviewallprojects">Search</a></li>
          <li><a href="userviewproposal">Proposals</a></li>
<!--          <li><a href="userreviewrating">Review/Rating</a></li>-->
          <li><a href="logout">Logout</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>



    </div>
  </header>

  <main class="main">

    <section id="hero" class="hero section dark-background">

      <img src="{% static 'assets/img/hero-bg.jpg' %}" alt="" data-aos="fade-in">

<!--<div class="contact">-->
<!--      &lt;!&ndash; Section Title &ndash;&gt;-->
<!--&lt;!&ndash;      <div class="container section-title " data-aos="fade-up">&ndash;&gt;-->
<!--&lt;!&ndash;        <h2>Sign Up</h2>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&lt;!&ndash; End Section Title &ndash;&gt;&ndash;&gt;-->

<!--        <div class="row justify-content-center">-->
<!--         <div class="col-lg-6 bg-white">-->
<!--        <div class="p-4 bg-white shadow rounded">-->
<!--            <form action="" method="post" class="php-email-form bg-white">-->
<!--&lt;!&ndash;            <form action="" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="500">&ndash;&gt;-->
<!--              <div class="row gy-4">-->

<!--                <div class="col-md-12">-->
<!--                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">-->
<!--                </div>-->

<!--                <div class="col-md-12 ">-->
<!--                  <input type="text" class="form-control" name="phone" placeholder="Your Phone number" required="">-->
<!--                </div>-->

<!--                <div class="col-md-12 ">-->
<!--                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">-->
<!--                </div>-->

<!--                <div class="col-md-12">-->
<!--                  <input type="text" class="form-control" name="username" placeholder="username" required="">-->
<!--                </div>-->

<!--                <div class="col-md-12">-->
<!--                  <input type="text" class="form-control" name="password" placeholder="password" required="">-->
<!--                </div>-->

<!--                <div class="col-md-12">-->
<!--                  <input type="text" class="form-control" name="confirmpassword" placeholder="confirmpassword" required="">-->
<!--                </div>-->

<!--&lt;!&ndash;                <div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;                  <textarea class="form-control" name="message" rows="4" placeholder="Message" required=""></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->

<!--                <div class="col-md-12 text-center">-->
<!--                  <div class="loading">Loading</div>-->
<!--                  <div class="error-message"></div>-->
<!--                  <div class="sent-message">Your message has been sent. Thank you!</div>-->

<!--                  <button type="submit">Register</button>-->
<!--                </div>-->

<!--              </div>-->
<!--            </form>-->

<!--         </div>-->
<!--        </div>-->
<!--        </div>-->
<!--        </div>-->

<<div class="contact d-flex justify-content-center align-items-center">

  <div class="form-box p-4 shadow rounded">

    <form action="" method="POST">

      {% csrf_token %}

      <h3 class="text-center mb-4">
          Review & Rating
      </h3>

      <!-- Review -->

      <div class="mb-3">

        <textarea
            name="review"
            class="form-control custom-input"
            rows="4"
            placeholder="Tell Your Experience"
            required></textarea>

      </div>

      <!-- Rating -->

      <div class="mb-3 text-center">

        <label class="mb-2">
            Give Rating
        </label>

        <br>

        <div class="star-rating">

          <input type="radio"
                 name="rating"
                 value="5"
                 id="star5">

          <label for="star5">★</label>

          <input type="radio"
                 name="rating"
                 value="4"
                 id="star4">

          <label for="star4">★</label>

          <input type="radio"
                 name="rating"
                 value="3"
                 id="star3">

          <label for="star3">★</label>

          <input type="radio"
                 name="rating"
                 value="2"
                 id="star2">

          <label for="star2">★</label>

          <input type="radio"
                 name="rating"
                 value="1"
                 id="star1"
                 required>
          <label for="star1">★</label>

        </div>

      </div>

      <!-- Submit -->

      <div class="text-center">

        <button type="submit"
                class="btn btn-primary w-100">

            Submit Review

        </button>

      </div>

    </form>

  </div>

</div>

    </section><!-- /Hero Section -->




  </main>


  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
<!--  <div id="preloader"></div>-->

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>